---
---

@import "{{ site.theme }}";

body {
    background-image: url("../img/background.png");
}

/* unvisited link */
a:link {
    color: #5E7697;
}
  
  /* visited link */
a:visited {
    color: #5E7697;
}
  
  /* mouse over link */
a:hover {
    color: #aacbf8;
}
  
  /* selected link */
  a:active {
    color: #aacbf8;
  }
